/*  Esta parte solo está para que sea mas facil ver los bordes */
/* *{
    border: red 2px solid;
} */
html {
    scroll-behavior: smooth;
  }
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}
.logo-viajes{
    width: 6.5%;
    height: auto;
}
.card-img-top {
    width: 100%;
    height: 10vw;

}
.cont-icon{
    padding-left: 10rem;
}